.home-container {
   background-color: var(--primary);
   min-height: 70vh;
   padding: 10vh 50px 0px 50px;
}

.home {
   max-width: 1100px;
   margin: auto;
   display: grid;
   grid-template-columns: 60% 40%;
   background-color: var(--primary);
}

.home-left {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   position: relative;
}

.home-left img {
   position: absolute;
   bottom: 0;
   right: 2rem;
   max-height: 100%;
   height: auto;
   width: auto;
   z-index: 0;
   filter: drop-shadow(5px 15px 10px rgba(0, 0, 0, 0.4));
   -webkit-filter: drop-shadow(5px 15px 10px rgba(0, 0, 0, 0, 4));
   object-fit: inherit;
}

.home-left-name {
   z-index: 10;
   font-size: 5rem;
   font-weight: 600;
}

.home-left-name > h2 {
   font-size: 5rem;
   font-family: 'Poppins', sans-serif !important;
}

.home-left-last-name {
   margin-top: -36px;
}

.home-left-line {
   margin-top: 16px;
   width: 72px;
   height: 8px;
   background-color: var(--accent);
}

.home-left-links {
   z-index: 10;
   display: flex;
   width: 120px;
   justify-content: space-between;
}

.home-left-links a {
   color: inherit;
   text-decoration: inherit;
}

.home-left-link {
   cursor: pointer !important;
}

.home-right {
   height: 70vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

/* Media Queries */
@media screen and (max-width: 768px) {
   .home-container {
      padding: 10vh 30px 0px 30px;
      height: 80vh;
   }

   .home {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
   }

   .home-left {
      margin-top: 1rem;
      width: 100%;
      order: 2;
      height: 40vh;
   }

   .home-left img {
      right: -1rem;
   }

   .home-left-name {
      font-size: 3rem;
   }

   .home-left-last-name {
      margin-top: -16px;
   }

   .home-right {
      order: 1;
      width: 100%;
      height: auto;
      margin-top: 2rem;
   }
}
