.projects-container {
   position: relative;
   background-color: var(--primary);
   min-height: 70vh;
   padding: 0px 50px;
}

.skills {
   position: absolute;
   left: 0;
   right: 0;
   max-width: 1100px;
   padding: 0px 50px;
   margin: auto;
   display: flex;
   margin-top: -150px;
   justify-content: space-between;
}

.projects {
   max-width: 1100px;
   padding-top: 13rem;
   margin: auto;
   background-color: var(--primary);
}

.languages {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   padding: 1rem 2rem 1rem 2rem;
}

.languages img {
   margin: 1rem;
   max-height: 40px;
   max-width: 120px;
}

.projects-list-container {
   margin-top: 4rem;
   column-count: 2;
   column-gap: 5rem;
}

.projects-list-container > .button {
   margin: 6rem 0px;
}

/* Media Queries */
@media screen and (max-width: 768px) {
   .projects-container {
      padding: 0px 30px;
   }

   .skills {
      display: none;
   }

   .projects {
      padding-top: 2rem;
   }

   .languages {
      padding: 1rem 0;
   }

   .languages img {
      max-height: 25px;
      max-width: 75px;
   }

   .projects-list-container {
      margin-top: 2rem;
      column-count: 1;
      column-gap: 5rem;
   }

   .projects-list-container > .button {
      margin: 3rem 0px;
   }
}
