@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
   margin: 0;
   font-family: 'Poppins', sans-serif;
}

body {
   --primary: #333647;
   --secondary: #252734;
   --card: #434657;
   --accent: #fcc25b;
   --dark-accent: #ffae29;
   --text: #eaeaeb;
   --light-text: #a7a5a5;
   background-color: var(--secondary);
   color: var(--text);
   text-transform: lowercase;
}

.header {
   color: var(--light-text);
   text-transform: uppercase;
   letter-spacing: 0.13rem;
   font-size: 0.875rem;
}

.title {
   font-size: 1.475rem;
   margin-top: 16px;
   margin-bottom: 32px;
}

.body {
   color: var(--light-text);
   font-size: 0.875rem;
}

.button {
   font-size: 1.125rem;
   color: var(--accent);
   text-decoration: underline;
   cursor: pointer;
}

.button a {
   cursor: pointer;
   color: inherit;
}
